@charset "UTF-8";
.tooltip__f-slider, .tooltip__f-progress {
  font-family: "Roboto Mono", monospace;
}

body {
  height: 100%;
  font-family: "Microsoft YaHei", "STXihei";
  font-size: 14px;
}

h2 {
  font-weight: normal;
}

.option__f-list {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 14px;
}

.header {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ddd;
}
.header-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.header-title {
  font-size: 2em;
  font-weight: 100;
  opacity: 0.7;
}
.theme-dark .header {
  border-bottom-color: #555;
}

.theme {
  display: flex;
  float: right;
}
.theme-light-btn, .theme-dark-btn {
  width: 28px;
  height: 28px;
  margin-left: 8px;
  cursor: pointer;
}
.theme-light-btn {
  background: #fff;
  border: 1px solid #ddd;
}
.theme-dark-btn {
  background: #333;
  border: 1px solid #555;
}

.wrapper {
  width: 1224px;
  max-width: 98%;
  margin: 0 auto;
}

.docs {
  position: absolute;
  width: 100%;
  top: 60px;
  left: 0;
}
.docs-wrapper {
  display: flex;
}

.navigation {
  width: 240px;
  height: 100vh;
  position: sticky;
  top: 0;
  bottom: 0;
  font-size: 14px;
}

.subsection__f-navigation {
  font-size: 13px;
}
.subsection__f-navigation:last-child {
  border-bottom: none;
}

.content {
  flex: 1;
  min-width: 0;
  padding: 16px 0 48px 24px;
  line-height: 28px;
}
.content h1 {
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 100;
}
.content h2, .content h3 {
  margin: 40px 0 20px;
}
.content h4, .content h5, .content h6 {
  margin: 30px 0 10px;
}
.content header {
  font-weight: bold;
}
.content p {
  margin: 12px 0 0 0;
  font-size: inherit;
}
.content ul {
  list-style-type: square;
}
.content ul, .content ol {
  padding-left: 40px;
  margin-top: 12px;
}
.content li ul, .content li ol {
  margin-top: 6px;
  margin-bottom: 12px;
}
.content a {
  color: #3a6cf6;
}
.content img {
  display: block;
  margin-bottom: 20px;
  border: 10px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.content code {
  font-family: "Roboto Mono", monospace;
  color: #29bc04;
}
.content em {
  color: #ffd007;
  font-style: normal;
}
.content pre {
  margin: 20px 0;
  line-height: 20px;
}
.content table {
  margin: 20px 0;
}
.content th {
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.theme-dark .content th {
  border-bottom-color: #555;
}

.content th, .content td {
  padding: 4px 24px 4px 0;
}
.content del {
  text-decoration: none;
  opacity: 0.5;
}
.content del::after {
  content: " -- 已实现";
}

.function-curve {
  display: block;
  margin-top: 10px;
}

.function-generator f-row {
  margin-top: 12px;
}
.function-generator f-col {
  display: flex;
}
.function-generator f-col span {
  font-size: 13px;
  font-family: monospace;
  line-height: 32px;
}
.function-generator f-col f-input {
  flex: 1;
  margin-left: 8px;
  font-family: monospace;
}
.function-generator-switch-container {
  margin-top: 20px;
}
.function-generator-switch {
  margin-right: 8px;
  margin-top: 3px;
}
.function-generator-desc {
  display: block;
  margin-top: 20px;
}

.polar-sampling, .gauss-blur {
  display: block;
}
.polar-sampling f-textarea, .gauss-blur f-textarea {
  display: block;
  width: 100%;
  margin-top: 16px;
}
.polar-sampling button, .gauss-blur button {
  margin-top: 16px;
}
.polar-sampling f-input, .gauss-blur f-input {
  display: block;
  width: 100%;
  margin-top: 16px;
}

.gauss-blur f-textarea {
  height: 200px;
}

.preview {
  display: block;
}
.preview-nav {
  height: 50px;
  margin-bottom: 4px;
  margin-right: -4px;
  display: flex;
  overflow-x: auto;
}
.preview-nav-item {
  flex: 1;
  width: 50px;
  max-width: 100px;
  height: 50px;
  margin-right: 4px;
  opacity: 0.4;
  cursor: pointer;
}
.preview-nav-item:hover, .preview-nav-item.active {
  opacity: 1;
}
.preview-nav-item img {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  box-shadow: none;
  object-fit: cover;
}
.preview-canvas canvas {
  display: block;
  border: none;
  box-shadow: none;
  width: 100%;
  height: 540px;
  image-rendering: pixelated;
}
.preview-canvas:fullscreen {
  display: flex;
}
.preview-canvas:fullscreen canvas {
  margin: auto;
}
.preview-toolbar {
  width: 100%;
  margin-bottom: 20px;
}
.preview-toolbar td {
  padding: 0;
}
.preview-toolbar td:first-child {
  padding-right: 4px;
  height: 22px;
  line-height: 22px;
  font-size: 13px;
  text-align: right;
  white-space: nowrap;
  width: 1%;
}
.preview-slide-value {
  display: inline-block;
  min-width: 36px;
  text-align: left;
}
.preview-slider {
  width: 200px;
}
.preview button {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 22px;
  line-height: 20px;
  font-size: 14px;
  padding: 0 8px;
}
.preview-slider-button {
  margin-left: 12px;
  margin-right: 4px;
}
.preview-slider-button:first-child {
  margin-left: 0;
}
.preview-slider-button:last-child {
  margin-right: 0;
}
.preview-easing-select {
  float: right;
  margin-top: 4px;
  margin-left: auto;
  height: 24px;
  width: 180px;
  font-size: 14px;
  line-height: 22px;
}
.preview-channels {
  display: flex;
  margin-bottom: 10px;
}
.preview-channels > div {
  width: 40px;
  height: 40px;
  margin: 4px;
  border: 3px solid #ccc;
  cursor: pointer;
}
.preview-channels .active {
  border-color: #555;
}
.theme-dark .preview-channels .active {
  border-color: #eee;
}

.preview-names {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  line-height: 36px;
  font-size: 16px;
}
.preview-names > div {
  margin-right: 20px;
  cursor: pointer;
}
.preview-names .active {
  color: #3a6cf6;
}
.preview-additional-toolbar {
  display: flex;
  margin-top: 8px;
  margin-bottom: 0px;
}
.preview-additional-toolbar f-buttongroup {
  margin-right: 12px;
}
.preview-additional-toolbar f-buttongroup:last-child {
  margin-right: 0;
}
.preview-additional-toolbar > button {
  margin-right: 12px;
}
.preview-additional-toolbar button {
  font-size: 12px;
  min-width: 55px;
}
.preview-additional-toolbar > *:last-child {
  margin-right: 0;
}
.preview-progress {
  flex: 1;
}

.aegl-preview {
  margin-top: -12px;
}
.aegl-preview .preview-progress {
  width: 100%;
  margin-top: -4px;
}

.aegl-editor {
  height: 320px;
}
.aegl-editor .editor-scenes {
  height: 71px;
  margin-top: 4px;
  padding: 0 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.aegl-editor .editor-scenes-slider {
  position: relative;
  height: 100%;
}
.aegl-editor .editor-scene {
  position: absolute;
  top: 0;
  height: 100%;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.2s ease-out;
  background: #fff;
  margin-right: -4px;
}
.aegl-editor .editor-scene:hover {
  opacity: 0.7;
}
.aegl-editor .editor-scene.active {
  opacity: 1;
}
.aegl-editor .editor-scene img {
  width: 100%;
  height: 100%;
  margin: 0;
  object-position: center;
  object-fit: cover;
  border: 4px solid transparent;
}
.aegl-editor img {
  position: relative;
  box-shadow: none;
}
.aegl-editor img::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #ddd;
}
.theme-dark .aegl-editor img::after {
  background: #444;
}

.aegl-editor .current-scene {
  margin-top: 16px;
}
.aegl-editor .scene-title {
  font-weight: bold;
  font-size: 14px;
  color: #888;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}
.aegl-editor .scene-content {
  display: flex;
}
.aegl-editor .scene-photo img {
  width: 100%;
  margin-bottom: 0;
  border: 0;
}
.aegl-editor .scene-photo button {
  margin-top: 8px;
  color: #666;
}
.aegl-editor .photo-area {
  position: relative;
  width: 100%;
  height: 188px;
  padding: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.aegl-editor .photo-area:hover .photo-full {
  opacity: 0.3;
  pointer-events: auto;
}
.aegl-editor .photo-full, .aegl-editor .photo-clip {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
}
.aegl-editor .photo-full img, .aegl-editor .photo-clip img {
  position: absolute;
}
.aegl-editor .photo-full {
  pointer-events: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
  cursor: grab;
}
.aegl-editor .photo-clip {
  overflow: hidden;
}
.aegl-editor .scene-text {
  flex: 1;
  margin-left: 20px;
}
.aegl-editor .text-label {
  text-align: right;
  padding-right: 12px;
  font-size: 12px;
  line-height: 26px;
}
.aegl-editor f-row {
  margin-bottom: 12px;
}
.aegl-editor f-col {
  display: flex;
}
.aegl-editor f-input, .aegl-editor aegl-font-weight-select, .aegl-editor aegl-font-family-select {
  width: 100%;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
}
.aegl-editor f-textarea {
  width: 100%;
  height: 34px;
  line-height: 24px;
  font-size: 14px;
}
.aegl-editor input[type=color] {
  color: inherit;
  width: 64px;
  height: 28px;
}
.theme-dark .aegl-editor input[type=color] {
  background: #404040;
  border-color: #888;
}

.aegl-editor f-slider {
  height: 28px;
  flex: 1;
}
.aegl-editor button {
  margin-top: 3px;
  margin-bottom: 3px;
}
.list__aegl-font-family-select .text__f-list, .list__aegl-font-weight-select .text__f-list {
  height: 30px;
}

.aegl-encoding-config {
  width: 430px;
  height: 420px;
}
.aegl-encoding-config f-row {
  margin-top: 10px;
}
.aegl-encoding-config f-col:first-child {
  text-align: right;
  padding-right: 20px;
}
.aegl-encoding-config f-select, .aegl-encoding-config f-input {
  width: 100%;
}
.aegl-encoding-config .encoding-tips {
  margin-top: 40px;
  min-height: 40px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.aegl-encoding-config .encoding-progress {
  margin-top: 40px;
  margin-bottom: -6px;
  font-size: 14px;
  text-align: center;
}
.aegl-encoding-config f-progress {
  width: 100%;
}
.aegl-encoding-config button {
  margin: 16px auto 0;
  width: 120px;
}
.secondary-choice {
  opacity: 0.4;
}
